<div class="jumbotron">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae varius risus. Nunc et ante sed dui efficitur lacinia a eu mi. Donec euismod justo enim, ac consequat massa cursus quis. Fusce faucibus nec dolor id imperdiet. Ut sit amet pellentesque elit. Ut sed eros at mi laoreet luctus. Nunc at diam ut eros ullamcorper volutpat id eu elit. Etiam cursus interdum ipsum, ut gravida neque lacinia quis. Suspendisse non finibus tortor. </p>
  </div>
</div>